#content{
    height: 100%;
    width: 100%;
}
.box-role{
    height: 50vh;
    cursor: pointer;
}
#employee{
    background-color: lime;
}
#account{
    background-color: orange;
}
#cloth{
    background-color: gainsboro;
}
#show{
    width: 90%;
    position: relative;
    overflow: auto;
    clear: both;
    margin: 5%;
}
.head-text{
    width: 100%;
    height: 10%;
}
.text-h1{
    font-size: 5vh;
}
.search-box{
    width: 100%;
}
.box-table{
    width: 100%;
}
/* Acoount----------------------------------------------------------------------------------------*/
#revenue{
    background-color: lime;
}
#expense{
    background-color: orange;
}


/* employee          ---------------------------------------------------------------------------------------------------------------*/


