{% extends 'base-box.html' %}
    {% block text_head %}
        ข้อมูลผ้า
    {% endblock text_head %}
    {% block desc %}
    <button class="btn btn-success" style="width: 80px; margin-bottom: 10px;" onclick="location.href='{%url 'clothAdd' %}'">เพิ่มผ้า</button>
    {% endblock desc %}
    {% block table %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ชื่อผ้า</th>
                <th scope="col">รายละเอียด</th>
                <th scope="col">แก้ไข</th>
            </tr>
        </thead>
        {% for cloth in cloths %}
            <tr>
                <td>{{cloth.name}}</td>
                <td>{{cloth.cloth_desc}}</td>
                <td>
                    <button class="btn btn-warning" onclick="location.href='{%url 'clothEdit' cid=cloth.id %}'">แก้ไขผ้า</button>
                
                </td>
            </tr>  
        {% endfor %}
    </table>
    

    {% endblock table %}