{% extends 'base-box.html' %}
    {% block text_head %}
        เพิ่มผ้า
    {% endblock text_head %}
    {% block desc %}
    {% endblock desc %}
    {% block table %}
        <form action="{%url 'clothAdd'%}" method="POST">
            {%csrf_token%}
            <div class="form-group">
                <label>{{form.name.label}}</label>
                {{form.name}}
            </div> 
            <div class="form-group">
                <label>{{form.cloth_desc.label}}</label>
                {{form.cloth_desc}}
            </div>
            <input style="width: 80px;" class="btn btn-success" value="ตกลง" type="submit">
        </form>
    {% endblock table %}