{% extends 'base-box.html' %}
    {% block text_head %}
        เพิ่มสี
    {% endblock text_head %}
    {% block desc %}
    {% endblock desc %}
    {% block table %}
        <form action="{%url 'colorAdd'%}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="form-group">
                <label>{{form.name.label}}</label>
                {{form.name}}
            </div>
            {% comment %} <img style="width: 150px; height: 100px;" src='../../{{color.image}}'> {% endcomment %}
            <div class="form-group">
                <label>{{form.image.label}}</label><br>
                {{form.image}}
            </div>
            <input style="width: 80px;" class="btn btn-success" type="submit" value="ตกลง">
        </form>
    {% endblock table %}