{% extends 'base-box.html' %}
    {% block text_head %}
        ผ้า
    {% endblock text_head %}
    {% block desc %}
    {% endblock desc %}
    {% block table %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ชื่อสี</th>
                <th scope="col">รูปสี</th>
                <th scope="col">แก้ไข</th>
            </tr>
        </thead>
        {% for color in colors %}
            <tr>
                <td>{{color.name}}</td>
                <td>{%if color.image %}<img src='../../{{color.image}}'>{%endif%}</td>
                <td>
                    <button onclick="location.href='{%url 'colorEdit' cid=color.id %}'">แก้ไขผ้า</button>
                
                </td>
            </tr>  
        {% endfor %}
    </table>
    <button onclick="location.href='{%url 'colorAdd' %}'">เพิ่มผ้า</button>
    {% endblock table %}