{% extends 'base-box.html' %}


    {% block text_head %}
        บัญชี
    {% endblock text_head %}

    {% block desc %}
        <button class="btn btn-success" onclick="location.href='{%url 'revenue' %}'">เพิ่มรายรับ</button>
        <button class="btn btn-danger" onclick="location.href='{%url 'expense' %}'">เพิ่มรายจ่าย</button>
    {% endblock desc %}

    {% block table %}
        <table class="table table-striped" style="margin-top: 10px;">
                <thead>
                    <tr>
                        <th scope="col">วันที่</th>
                        <th scope="col">รายละเอียด</th>
                        <th scope="col">รายรับ</th>
                        <th scope="col">รายจ่าย</th>
                      </tr>
                </thead>
                {%for revenue in revenues%}
                    <tr>
                        <td>{{revenue.date}}</td>
                        <td>{{revenue.description}}</td>
                        <td>{{revenue.amount}}</td>
                        <td></td>
                    </tr>
                {%endfor%}
                {%for expense in expenses%}
                    <tr>
                        <td>{{expense.date}}</td>
                        <td>{{expense.description}}</td>
                        <td></td>
                        <td>{{expense.amount}}</td>
                    </tr>
                {%endfor%}
        </table>
        <button onclick="location.href='{%url 'customer' %}'">รายชื่อลูกค้า</button>
    {% endblock table %}


