{% extends 'base-box.html' %}


    {% block text_head %}
        บัญชี
    {% endblock text_head %}

    {% block desc %}
        <div class='row'>
            <div class="col-1">
                <button class="btn btn-success" onclick="location.href='{%url 'revenue' %}'">เพิ่มรายรับ</button>
            </div>
            <div class="col-1">
                <button class="btn btn-danger" onclick="location.href='{%url 'expense' %}'">เพิ่มรายจ่าย</button>
            </div>
            <div class="col-10">
                <form action="{%url 'account'%}" method='POST'>
                {% csrf_token %}
                    <div class="row">
                        <div class="mt-2">
                            {{paid.start_date.label}}
                        </div>
                        <div class="col-4">
                            
                            {{paid.start_date}}
                        </div>
                        <div class="mt-2">
                            {{paid.end_date.label}}
                        </div>
                        <div class='col-4'>                            
                            {{paid.end_date}}
                        </div>
                        <div class="col-2">
                            <input class="btn btn-success" type="submit" value='ค้นหา'>
                        </div>
                    </div>
                
                    
                </form>
        </div>
        
        
        
    {% endblock desc %}

    {% block table %}
        <table class="table table-striped" style="margin-top: 10px;">
                <thead>
                    <tr>
                        <th scope="col">วันที่</th>
                        <th scope="col">รายละเอียด</th>
                        <th scope="col">รายรับ</th>
                        <th scope="col">รายจ่าย</th>
                      </tr>
                </thead>
                {%for revenue in revenues%}
                    <tr>
                        <td>{{revenue.date|date:"d-m-Y"}}</td>
                        <td>{{revenue.description|truncatechars:"65"}} <a href="{%url 'revenueDetail' aid=revenue.id%}">เพิ่มเติม</a></td>
                        <td>{{revenue.amount}} บาท</td>
                        <td></td>
                    </tr>
                {%endfor%}
                {%for expense in expenses%}
                    <tr>
                        <td>{{expense.date|date:"d-m-Y"}}</td>
                        <td>{{expense.description|truncatechars:"65"}} <a href="{%url 'expenseDetail' aid=expense.id%}">เพิ่มเติม</a></td>
                        <td></td>
                        <td>{{expense.amount}} บาท</td>
                    </tr>
                {%endfor%}
                <tr>
                    <td></td>
                    <td style="text-align: right;">รายรับ-รายจ่ายทั้งหมด</td>
                    <td>{{allEx}} บาท</td>
                    <td>{{allRe}} บาท</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: right;">กำไรสุทธิ</td>
                    <td>{{profit}} บาท</td>
                    <td></td>
                </tr>
        </table>
        <button class="btn btn-warning" style="color:white" onclick="location.href='{%url 'customer' %}'">รายชื่อลูกค้า</button>
    {% endblock table %}


