{% extends 'base-box.html' %}
        {% block text_head %}
            เพิ่มพนักงาน
        {% endblock text_head %}

        {% block table %}
            <form action="{% url 'addEmployee' %}" method='POST'>
                {%csrf_token%}        
                <div class="form-row">        
                    <div class="col">
                        <label for="formGroupExampleInput">{{form.fname.label}}</label>
                        {{form.fname}}
                    </div>
                    <div class="col">
                        <label for="formGroupExampleInput">{{form.lname.label}}</label>
                        {{form.lname}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">{{form.birthdate.label}}</label>
                    {{form.birthdate}}
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">{{form.hire_date.label}}</label>
                    {{form.hire_date}}
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">{{form.rating_wage_per_hour.label}}</label>
                    {{form.rating_wage_per_hour}}
                </div>
                <input type="submit" value="เพิ่มพนักงาน" class="btn btn-success">
            </form>
        {% endblock table %}
