{% extends 'base-box.html' %}
    {% block text_head %}
        กรอกเวลาพนักงาน
    {% endblock text_head %}
{% block table %}
    <form action="{%url 'addTime' eid=eid%}" method='POST'>
        {%csrf_token%}        
        <p class="text-danger">{{formTime.non_field_errors.as_text}}</p>   
        <label>{{formTime.date.label}}</label>
        {{formTime.date}}
        <p class="text-danger">{{formTime.date.errors.as_text}}</p>
        <div class="form-row"> 
            <div class="col">
                <label>{{formTime.from_beforenoon.label}}</label>
                {{formTime.from_beforenoon}}

            </div>
            <div class="col">
                <label>{{formTime.to_beforenoon.label}}</label>
                {{formTime.to_beforenoon}}
                {{fromTime.to_beforenoon.errors}}
            </div>                 
        </div>
        <div class="form-row"> 
            <div class="col">
                <label>{{formTime.from_afternoon.label}}</label>
                {{formTime.from_afternoon}}
            </div>
            <div class="col">
                <label>{{formTime.to_afternoon.label}}</label>
                {{formTime.to_afternoon}}
            </div>                 
         </div>
         
        <input class="btn btn-success" style="margin-top:10px" type="submit" name="" value="เพิ่มเวลา">
    </form>

    <script>
            function setRequired(x) {
                if(x==1){
                    var fbn = document.querySelector('#id_from_beforenoon');
                    var tbn = document.querySelector('#id_to_beforenoon');
                    if(fbn.value.length > 0 || tbn.value.length > 0){
                        fbn.setAttribute('required','');
                        tbn.setAttribute('required','');
                    }
                    else{
                        fbn.removeAttribute('required');
                        tbn.removeAttribute('required');
                    }
                }//1 is mean before noon set Required
                else if(x==2){
                    var fan = document.querySelector('#id_from_afternoon');
                    var tan = document.querySelector('#id_to_afternoon');
                    if(fan.value.length > 0 || tan.value.length > 0){
                        fan.setAttribute('required','');
                        tan.setAttribute('required','');
                    }
                    else{
                        fan.removeAttribute('required');
                        tan.removeAttribute('required');
                    }
                }
            }
        
        
        </script>

{% endblock table %}