{% extends 'base-box.html' %}

    {% block text_head %}
        {{employee.fname}} {{employee.lname}}
    {% endblock text_head %}

{% block desc %}

    <form action="{% url 'editEmployee' eid=employee.id%}" method="POST">
        {%csrf_token%}
        <div class="form-row">        
                    <div class="col">
                        <label for="formGroupExampleInput">{{form.fname.label}}</label>
                        {{form.fname}}
                    </div>
                    <div class="col">
                        <label for="formGroupExampleInput">{{form.lname.label}}</label>
                        {{form.lname}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">{{form.birthdate.label}}</label>
                    {{form.birthdate}}                    
                    <p class="text-danger">{{form.birthdate.errors.as_text }}</p>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">{{form.hire_date.label}}</label>
                    {{form.hire_date}}
                    <p class="text-danger">{{form.hire_date.errors.as_text }}</p>                    
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">{{form.rating_wage_per_hour.label}}</label>
                    {{form.rating_wage_per_hour}}
        </div>
        <input class="btn btn-success" type="submit" value="ตกลง" style="margin-top: 20px; width: 80px;">
    </form>

{% endblock desc %}