{% extends 'base-box.html' %}

    {% block text_head %}
        รายชื่อพนักงาน
    {% endblock text_head %}

    {% block desc %}
        <div class='row'>
            <form action="{% url 'showEmployee'%}" method='GET' class="col-12">
                <div class="row">
                    <div class='col-12 col-lg-4 ' style="margin-top: 5px;">
                        <input class="form-control" type="text" name='fname' value='{{fname}}' placeholder="ค้นหาชื่อพนักงาน">
                    </div>
                    <div class='col-12 col-lg-4' style="margin-top: 5px;">
                        <input class="form-control" type="text" name='lname' value='{{lname}}' placeholder="ค้นหานามสกุลพนักงาน">
                    </div>
                    <div class='col-6 col-lg-2 ' style="margin-top: 5px;">
                        <button class="btn btn-info">ค้นหา</button>
                    </div>                    
                    <div class='col-lg-2 col-6' style="margin-top: 5px;">
                        <div style="right: 5%;" class="btn btn-success position-absolute"  onclick="location.href='{%url 'addEmployee' %}'">เพิ่มพนักงาน</div>
                    </div>  
                </div>                
            </form>
        </div> 
    {% endblock desc %}

    {% block table %}
        <table class="table table-striped" style="margin-top:10px">
                <thead>
                    <tr>
                        <th scope="col">รหัสพนักงาน</th>
                        <th scope="col">ชื่อ</th>
                        <th scope="col">นามสกุล</th>
                        <th scope="col">รายละเอียด</th>
                      </tr>
                </thead>
                {%for employee in employees%}
                    <tr>
                        <td>{{employee.id}}</td>
                        <td>{{employee.fname}}</td>
                        <td>{{employee.lname}}</td>
                        <td>
                            <button style="width: 100px; margin-bottom: 3px; " class="btn btn-info" onclick="location.href='{%url 'detail' eid=employee.id %}'">รายละเอียด</button>
                            <button style="width: 100px;" class="btn btn-danger"  onclick="location.href='{%url 'deleteEmployee' eid=employee.id %}'">เลิกจ้าง</button>
                        </td>
                    </tr>
                {% endfor %}

            </table>
    {% endblock table %}